<mat-expansion-panel hideToggle class="test" color="warn">
  <mat-expansion-panel-header>
    <mat-panel-title>
      lamp name: {{lamp.name}}
    </mat-panel-title>
    <mat-panel-description>
      <mat-slide-toggle
        class="example-margin"
        [color]="color"
        [checked]="isChecked"
        [disabled]="disabled"
        [(ngModel)]="lamp.state" >
        {{lamp.GetState()? 'on' : 'off'}}
      </mat-slide-toggle>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <p>id:{{lamp.GetId()}} </p>
</mat-expansion-panel>






